*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --pomodoro: hsl(224, 55%, 54%);
  --shortBreak: hsl(49, 33%, 28%);
  --longBreak: hsl(105, 59%, 34%);
}

body {
  background-color: var(--pomodoro);
  transition: background-color 2s ease;
  display:flex;
  justify-content: center;
}

progress {
  border-radius: 2px;
  width: 100%;
  height: 30px;
  margin-top:20px;
}

progress::-webkit-progress-bar {
 background-color: rgba(0, 0, 0, 0.1);;
}

progress::-webkit-progress-value {
  background-color: #fff;
}

.timer {
  margin-top:20%;
  margin-left:10%;
  margin-right:10%;
  text-align: center;
}

.clock {
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left:10%;
  margin-right:10%;
  font-size: 5em;
  line-height: 1;
  display: flex;
  align-items: center;
  font-family: arial, sans-serif;
}

.mode-button {
  font-size: 16px;
  height: 28px;
  cursor: pointer;
  box-shadow: none;
  font-weight: 300;
  color: #fff;
  border: 1px solid transparent;
  margin: 0px;
  border-radius: 4px;
  padding: 2px 12px;
  background: none;
}

.mode-button.active {
  background-color: #fff;
  color:black;
}

.startBtn {
  cursor: pointer;
  box-shadow: rgb(235, 235, 235) 0px 6px 0px;
  font-size: 22px;
  height: 55px;
  text-transform: uppercase;
  color: hsl(175, 26%, 41%);
  font-weight: bold;
  width: 200px;
  background-color: white;
  border-width: initial;
  border-style: none;
  margin: 20px 0px 0px;
  padding: 0px 12px;
  border-radius: 4px;
  transition: color 0.5s ease-in-out 0s;
}

button:focus, button:active {
  outline: none;
}

.main-button.active {
  transform: translateY(6px);
  box-shadow: none;
  outline: none;
}